source https://nuget.org/api/v2

nuget FSharp.Core 4.2.3 redirects: force
nuget FSharp.NET.Sdk

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  framework >= 4.0
  
  nuget FsCheck.Xunit
  nuget FsUnit.xUnit
  nuget xunit.runner.visualstudio >= 2.0 version_in_path: true
  nuget xunit.runner.console
  
group net35
  source https://nuget.org/api/v2
  framework <= 3.5
  
nuget FSharp.Core 4.1.18  