source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.NET.Sdk
nuget FSharp.Compiler.Tools

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  framework >= 4.0
  
  nuget xUnit
  nuget FsCheck.Xunit
  nuget FsUnit.xUnit
  nuget xunit.runner.visualstudio >= 2.0 version_in_path: true
  nuget xunit.runner.console
  nuget BenchmarkDotNet
  nuget xunit.assert