type project
title
    Linq.Expression.Optimizer
owners
    Tuomas Hietanen
authors 
    Tuomas Hietanen
projectUrl
    https://github.com/Thorium/Linq.Expression.Optimizer
iconUrl
    https://raw.githubusercontent.com/Thorium/Linq.Expression.Optimizer/master/docs/files/img/logo.png
licenseUrl
    https://github.com/Thorium/Linq.Expression.Optimizer/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    LINQ, Expression, Expressions, Expression tree, expressiontree, expression-tree, IQueryable, System.Linq.Expressions, optimise, optimize, compile, boolean, algebra, deMorgan, reduction, optimizer, optimiser, tree
summary
    Lightweight optimizer of System.Linq.Expression expressions. Just basic boolean algebra and reductions, constant and tuple/anonymous type eliminations. For expressions that are not compiled to IL.
description
    Lightweight optimizer of System.Linq.Expression expressions. Just basic boolean algebra and reductions, constant and tuple/anonymous type eliminations. For side-effect free Expressions. No compilation-subjective optimizations.
dependencies
  framework: net45
    FSharp.Core >= 6.0.7
  framework: netstandard1.6
    FSharp.Core >= 6.0.7
  framework: netstandard20
    FSharp.Core >= 6.0.7
  framework: netstandard21
    FSharp.Core >= 6.0.7
files
    ../../bin/Linq.Expression.Optimizer/Linq.Expression.Optimizer.dll ==> lib/net45
    ../../bin/Linq.Expression.Optimizer/Linq.Expression.Optimizer.xml ==> lib/net45
    ../../bin/Linq.Expression.Optimizer.net35/Linq.Expression.Optimizer.dll ==> lib/net35
    ../../bin/Linq.Expression.Optimizer.net35/Linq.Expression.Optimizer.xml ==> lib/net35
    ../../src/Linq.Expression.Optimizer.standard/bin/Release/netstandard1.6/Linq.Expression.Optimizer.deps.json ==> lib/netstandard1.6
    ../../src/Linq.Expression.Optimizer.standard/bin/Release/netstandard1.6/Linq.Expression.Optimizer.dll ==> lib/netstandard1.6
    ../../src/Linq.Expression.Optimizer.standard/bin/Release/netstandard1.6/Linq.Expression.Optimizer.xml ==> lib/netstandard1.6	
